p {
  margin: 0;
}

.App {
  text-align: center;
}

.main-header {
  height: 65px;
  box-sizing: border-box;
  padding: 0px 25px;
  background: #0086F0;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  text-decoration: none;
  color: white;
  margin-left: 20px;
}

.hobbies {
  margin-top: 40px;
  margin-bottom: 20px;
}

.profile-image {
  height: 250px;
  border-radius: 50%;
  margin-top: 50px;
}